# Node.js dependencies
/node_modules

# virtual env
djvenv/
# Build output
/build
/dist
djvenv/
# Environment variables
.env

# Logs
*.log
/logs

# Temporary files
/tmp
/coverage
.cache

# Operating system files
.DS_Store
Thumbs.db

# IDE-specific files
.vscode/
.idea/
